*.rbc
*.swp
**/.DS_Store
/_yardoc/
/.bundle/
/.byebug_history
/.DS_Store
/.yardoc
/.ruby-version
/.tool-versions
/coverage/
/doc/
/dump.rdb
/Gemfile.lock
/gemfiles/*.lock
/pkg/
/rack-idempotency_key-*.gem
/spec/reports/
/tmp/
